/* font family */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*---------- 
variables 
----------*/
:root {
    --bg-color: #FFF4E7;
    --dark-1: #131313;
    --dark-2: #424242;
    --dark-3: #727272;
    --third-color: #FF900E;
}

/* universal styles and common styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #FFFFFF;


}

h1,
h2,
h3 {
    color: var(--dark-1);
}

p {
    color: var(--dark-3);
}

/* header section styles
------------------------- */
header {
    background-color: var(--bg-color);
}

.head-container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 50px;
}

/* head and navbar styles*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    color: var(--dark-1);
    font-weight: 700;
    font-size: 45px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav li a {
    text-decoration: none;
    color: var(--dark-2);
    padding: 20px 25px;
    border-radius: 5px;
}

nav li a:hover {
    background-color: var(--third-color);
    text-shadow: 4px 4px 8px #FFFFFF;
    color: #FFFFFF;
}

.head-section {
    text-align: center;
    margin: 50px auto;
    max-width: 862px;
}

.head-title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 30px;
}

.btn-primary {
    margin: 32px auto 50px;
    background-color: var(--third-color);
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 20px 25px;
}

.banner img {
    width: 100%;
}

/* main start 
------------- */
main {
    max-width: 1250px;
    margin: 0 auto;
}

/* features section  */

.features-1 {

    display: flex;
    gap: 70px;
    margin: 100px;
}

.img-features {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    width: 50%;
    gap: 24px;
}

.img-features img {
    width: 100%;
}

.feature-1-content {
    width: 50%;
    margin-top: 10%;
}

.feature-1-title {
    font-weight: 700;
    font-size: 45px;
    max-width: 400px;
    margin-bottom: 20px;
}

.feature-1-title .gray-span {
    color: var(--dark-3);
    font-weight: 500;
}

.feature-1-title .tomato-span {
    color: var(--third-color);
}

/* feature-2  */
.features-2 {
    display: flex;
    gap: 100px;
}

.feature-2-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.head-content-title {
    border-left: 5px solid var(--third-color);
    font-weight: 700;
    font-size: 45px;
    max-width: 400px;
    padding-left: 50px;
    margin-bottom: 30px;
}

.mini-content {
    padding: 30px;
}

.mini-content-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.feature-2-banner {
    width: 50%;
}

.feature-2-banner img {
    width: 100%;
}

.btn-second {
    background-color: var(--third-color);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 25px;
    padding: 40px;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: 150px;
    left: -100px;
}

.btn-span {
    font-weight: 700;
    font-size: 65px;
}

/* fact section  */
.fact-article {
    max-width: 400px;
}

.fact-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.fact-containers {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    margin: 50px;
    gap: 30px;

}

.fact-container {
    background-color: #FFFFFF;
    border: 0.5px solid var(--third-color);
    border-radius: 10px;
    text-align: center;
    padding: 40px 35px;

}

.fact-container:hover {
    position: relative;
    transform: scale(130%);
    box-shadow: 4px 4px 12px gray;
}

/* sponsors section  */
.sponsors article {
    text-align: center;
    max-width: 550px;
    margin: 0 auto;

}

.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
}

.sponsor-logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    margin: 100px auto;
}

.sponsor-logo a img {
    width: 100px;
    filter: grayscale(1);
}

/* contact us section  */
.contact {
    background-image: linear-gradient(black, black), url(/images/banner.png);

    background-position: center;
    border-radius: 20px;
    overflow: hidden;
    padding: 40px;
    margin-bottom: 100px;
    background-blend-mode: saturation;


}

.contact-us {
    text-align: center;
    margin-bottom: 40px;

}

.contact-us-title {
    font-weight: 700;
    font-size: 45px;
}

.info-msg {
    display: flex;
    gap: 50px;
}

.location {
    width: 50%;
}

.send-message {
    width: 50%;
}

.info-name {
    margin-bottom: 30px;
}

.send-message {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
}

.send-message h2 {
    font-weight: 700;
    font-size: 45px;


}

form input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 90%;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--third-color);
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 32px auto 50px;
    background-color: var(--third-color);
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 20px 25px;
}





/* footer section  */
footer {
    width: 1250px;
    margin: 0 auto;

}

footer .copyright {
    text-align: center;
    background-color: var(--bg-color);
    padding: 30px;
    margin-bottom: 200px;

}

@media screen and (max-width:577px) {

    /* header section styles
------------------------- */
    .head-container {
        padding: 20px;
    }

    /* head and navbar styles*/
    .brand-name {
        font-weight: 700;
        font-size: 30px;
    }

    .navbar {
        flex-direction: column;
        gap: 40px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .head-title {
        font-size: 35px;
    }

    /* features section  */

    .features-1 {

        flex-direction: column;
        gap: 70px;
        margin: 30px;
    }

    .img-features {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        width: 100%;
        gap: 24px;
    }

    .img-features img {
        width: 100%;
    }

    .feature-1-content {
        width: 100%;
    }

    /* feature 2 */
    .features-2 {
        flex-direction: column;
        gap: 50px;
    }

    .feature-2-content {
        padding: 0 20px;
        width: 100%;
    }

    .head-content-title {
        font-size: 30px;
        padding-left: 30px;
    }

    .mini-content {
        padding: 10px 20px;
    }

    .feature-2-banner {
        width: 100%;

    }

    .feature-2-banner img {}

    .btn-second {
        padding: 20px;
        bottom: 150px;
        left: 50px;
    }

    .btn-span {
        font-size: 50px;
    }

    /* fact section 
    -------------- */
    .fact-containers {
        grid-template-columns: repeat(2, 1fr);
        margin: 30px;
        gap: 10px;
    }

    .fact-article {
        max-width: 400px;
        margin: 40px 30px;
    }

    /* sponsors section  */
    .sponsors article {
        padding: 0 20px;
    }

    .sponsor-logo {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 0 10px;
    }

    .sponsor-logo a img {
        filter: grayscale(1);
    }

    /* contact us section  */
    .contact {
        background: var(--bg-color);
        border-radius: 5px;
        margin-bottom: 100px;
    }

    .contact-us {
        text-align: center;
        margin-bottom: 40px;

    }

    .contact-us-title {
        font-weight: 700;
        font-size: 45px;
    }

    .info-msg {
        display: flex;
        gap: 50px;
        flex-direction: column;
    }

    .location {
        width: 100%;
    }

    .send-message {
        width: 80%;
    }

    /* footer  */
    footer {
        width: auto;
        margin: 0 auto;

    }

    footer .copyright {
        margin-bottom: 50px;
    }

}

.hide {
    display: none;
}